[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SurvivalPath"]
	path = SurvivalPath
	url = https://github.com/zhangt369/survivalpath
	shallow = true
	registered = true
